.contact {
	&-container {
		color: $white;
		background-color: $blue;
	}

	&-bg {
		position: relative;

		&::before {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 9999px;
			content: '';
			background: {
				position: calc(100% - #{$grid-gutter-width * 1.7}) 0;
				repeat: no-repeat;
				size: auto 100%;
				image: url('#{$img-dir}contact-bg.jpg');
			}
		}
	}

	&-form {
		padding: $grid-gutter-width * 1.5 0 $grid-gutter-width * .5;

		@include media-breakpoint-up("lg") {
			padding: $grid-gutter-width * 3.5 0 $grid-gutter-width * 1.5;
		}

		&-title {
			margin-bottom: 1em;
			font: {
				size: 1.125rem;
				weight: $font-weight-bold;
			}
			text-transform: uppercase;

			@include media-breakpoint-up("lg") {
				margin-bottom: 2.5em;
			}
		}

		&-accept {
			margin-top: 1em;

			a {
				text-decoration: underline;
			}
		}

		.form-control {
			border-color: transparent;
		}

		a {
			color: inherit;
		}
	}
}