.footer {
	background-color: $white;

	&-main {
		padding-top: 2.5em;
		margin-bottom: 2em;

		@include media-breakpoint-up("md") {
			padding-top: 4.9em;
		}

		.form-group {
			margin-bottom: 1em;
		}
	}

	&-title {
		margin-top: 1.5em;
		font: {
			size: 1.125rem;
			weight: $font-weight-medium;
		}
		line-height: 1;
		text-transform: uppercase;
		color: $blue;
	}

	&-search {
		margin-bottom: 2.3em;

		@include media-breakpoint-up("md") {
			max-width: 399px;
		}

		&-control {
			$width: $grid-gutter-width * .5;

			padding-right: #{$width * 3};
			background: {
				repeat: no-repeat;
				position: calc(100% - #{$width}) 50%;
				image: url('#{$img-dir}search.svg');
				size: $width auto;
			}
		}
	}

	&-menu {
		&-columns {
			column: {
				count: 2;
				gap: $grid-gutter-width;
			}

			@include media-breakpoint-up("md") {
				column-count: 3;
			}

			li {
				-webkit-column-break-inside: avoid;
				page-break-inside: avoid;
				break-inside: avoid-column;
			}
		}

		&-title {
			margin: {
				top: 1.5em;
				bottom: 1em;
			}
			font-weight: $font-weight-medium;
			color: $blue;

			@include media-breakpoint-up("md") {
				margin-top: 0;
			}

			@include media-breakpoint-up("lg") {
				min-height: 2.6em;
			}
		}

		li {
			margin-bottom: 1em;

			&.current-menu-item > a {
				font-weight: $font-weight-medium;
				color: $link-hover-color;
			}
		}

		a {
			color: inherit;
		}
	}

	&-callback {
		margin-top: 2em;

		@include media-breakpoint-up("lg") {
			margin-top: 0;
		}
	}

	&-contact {
		margin: {
			top: 2em;
			bottom: 2em;
		}
		font-size: 1.125rem;

		@include media-breakpoint-up("md") {
			margin: {
				top: 2em;
				bottom: 3.8em;
			}
		}

		&-item {
			@include media-breakpoint-down("sm") {
				&:not(:first-child) {
					margin-top: .5em;
				}
			}

			@include media-breakpoint-up("md") {
				&:not(:first-child) {
					margin-left: $grid-gutter-width * 1.3;
				}
			}

			&._tel-blue {
				white-space: nowrap;
			}

			@include icons();
		}
	}

	&-sub {
		margin-top: 2em;
		padding: .8em 0;
		color: $white;
		background-color: $blue;

		@include media-breakpoint-up("md") {
			margin-top: 5em;
		}

		a {
			color: inherit;
		}
	}

	&-policy {
		@include media-breakpoint-down("sm") {
			margin: 1em 0;
		}
	}
}