.service {
	&-list {
		&-item {
			display: block;
			position: relative;
			padding: $grid-gutter-width $grid-gutter-width * .6;
			background-color: $blue;
			overflow: hidden;

			&,
			&:hover {
				color: $white;
			}

			&:hover {
				text-decoration: none;
			}

			&-thumb {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				opacity: .8;
				background: {
					position: 50% 50%;
					repeat: no-repeat;
					size: cover;
				}

				@include transition;

				:hover > & {
					opacity: .4;
					filter: blur(5px);
					transform: scale(1.1);
				}
			}

			&-title,
			&-text,
			&-more {
				position: relative;
			}

			&-title {
				margin-bottom: 1em;
				font: {
					size: .875rem;
					weight: $font-weight-bold;
				}
				text-transform: uppercase;
				transform: translateY(1em);

				@include transition;

				:hover > & {
					transform: translateY(0);
				}
			}

			&-text {
				opacity: 0;

				@include transition;

				:hover > & {
					opacity: 1;
				}
			}

			&-more {
				color: $blue;
				@include transition;

				:hover > & {
					color: $white;
				}
			}
		}
	}
}