.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  overflow: hidden;
  word-wrap: normal !important; }

span.wpcf7-list-item:first-child {
  margin-left: 0; }

@font-face {
  font-family: "HelveticaNeue";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/HelveticaNeue/regular.woff2?v=20190801") format("woff2"), url("../fonts/HelveticaNeue/regular.woff?v=20190801") format("woff"); }

@font-face {
  font-family: "HelveticaNeue";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/HelveticaNeue/italic.woff2?v=20190801") format("woff2"), url("../fonts/HelveticaNeue/italic.woff?v=20190801") format("woff"); }

@font-face {
  font-family: "HelveticaNeue";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/HelveticaNeue/medium.woff2?v=20190801") format("woff2"), url("../fonts/HelveticaNeue/medium.woff?v=20190801") format("woff"); }

@font-face {
  font-family: "HelveticaNeue";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/HelveticaNeue/bold.woff2?v=20190801") format("woff2"), url("../fonts/HelveticaNeue/bold.woff?v=20190801") format("woff"); }

@font-face {
  font-family: "HelveticaNeue";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/HelveticaNeue/black.woff2?v=20190801") format("woff2"), url("../fonts/HelveticaNeue/black.woff?v=20190801") format("woff"); }

.header {
  background-color: #fff; }
  @media (min-width: 1200px) {
    .header {
      max-width: 1920px;
      margin: auto; } }
  .header-logo {
    -ms-flex-preferred-size: 142px;
        flex-basis: 142px;
    max-width: 142px;
    padding: .5em 0; }
    @media (min-width: 768px) {
      .header-logo {
        -ms-flex-preferred-size: 19%;
            flex-basis: 19%;
        max-width: 19%; } }
    @media (max-width: 767.98px) {
      .header-logo {
        margin-left: 15px; } }
    .header-logo img {
      width: auto;
      height: 55px; }
  .header-menu {
    width: 100%;
    margin-bottom: 0;
    padding-right: 15px; }
    .header-menu-container {
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    .header-menu-nav {
      width: 100%; }
    .header-menu-toggle {
      display: block;
      width: 30px;
      height: 30px;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 0 -2px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='30' height='30' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath id='svg_1' d='m4,10l24,0c1.104,0 2,-0.896 2,-2s-0.896,-2 -2,-2l-24,0c-1.104,0 -2,0.896 -2,2s0.896,2 2,2zm24,4l-24,0c-1.104,0 -2,0.896 -2,2s0.896,2 2,2l24,0c1.104,0 2,-0.896 2,-2s-0.896,-2 -2,-2zm0,8l-24,0c-1.104,0 -2,0.896 -2,2s0.896,2 2,2l24,0c1.104,0 2,-0.896 2,-2s-0.896,-2 -2,-2z' fill='%230365C0'/%3E%3C/g%3E%3C/svg%3E");
      background-size: 100% auto; }
      .header-menu-toggle-container {
        margin-right: 15px; }
      .header-menu-toggle-label {
        margin-right: 1em;
        text-transform: uppercase; }
    .header-menu li.current-menu-item a {
      color: #fff;
      text-decoration: none;
      background-color: #0365C0; }
    .header-menu a {
      display: block;
      padding: 1.85em .5em;
      text-align: center;
      color: inherit; }
      .header-menu a:hover {
        text-decoration: none;
        color: #0372d9; }
  .header-callback {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
    max-width: 22%;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #0365C0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      .header-callback {
        -webkit-transition: none;
        transition: none; } }
    .header-callback:hover {
      background: #3b3b3b; }
    @media (max-width: 767.98px) {
      .header-callback {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        max-width: 100%;
        min-height: 45px; } }
    .header-callback-l {
      font-weight: 500;
      text-transform: uppercase; }
      @media (min-width: 1200px) {
        .header-callback-l {
          display: block; } }
      .header-callback-l::before {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 1em;
        content: '';
        background-image: url("../i/tel.svg");
        background-position: 50% 50%;
        background-size: contain; }
  .header-title {
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase; }
    @media (min-width: 576px) {
      .header-title {
        text-align: left; } }
    @media (min-width: 768px) and (max-width: 1199.98px) {
      .header-title {
        font-size: 3rem; } }
    @media (min-width: 1200px) {
      .header-title {
        font-size: 4.5rem; } }
    .header-title-container {
      position: relative;
      padding: 2em 0;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover; }
      @media (min-width: 768px) and (max-width: 1199.98px) {
        .header-title-container {
          padding: 4em 0; } }
      @media (min-width: 1200px) {
        .header-title-container {
          padding: 4.8em 0; } }
      .header-title-container::before {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        content: '';
        background-color: rgba(3, 101, 192, 0.7); }

.footer {
  background-color: #fff; }
  .footer-main {
    padding-top: 2.5em;
    margin-bottom: 2em; }
    @media (min-width: 768px) {
      .footer-main {
        padding-top: 4.9em; } }
    .footer-main .form-group {
      margin-bottom: 1em; }
  .footer-logo img {
    width: 100%; }
  .footer-search {
    margin-bottom: 2.3em; }
    @media (min-width: 768px) {
      .footer-search {
        max-width: 399px; } }
    .footer-search-control {
      padding-right: 45px;
      background-repeat: no-repeat;
      background-position: calc(100% - 15px) 50%;
      background-image: url("../i/search.svg");
      background-size: 15px auto; }
  .footer-menu-columns {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px; }
    @media (min-width: 768px) {
      .footer-menu-columns {
        -webkit-column-count: 3;
           -moz-column-count: 3;
                column-count: 3; } }
    .footer-menu-columns li {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      -moz-column-break-inside: avoid;
           break-inside: avoid-column; }
  .footer-menu-title {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-weight: 500;
    color: #0365C0; }
    @media (min-width: 768px) {
      .footer-menu-title {
        margin-top: 0; } }
    @media (min-width: 992px) {
      .footer-menu-title {
        min-height: 2.6em; } }
  .footer-menu li {
    margin-bottom: 1em; }
    .footer-menu li.current-menu-item > a {
      font-weight: 500; }
  .footer-callback {
    margin-top: 2em; }
    @media (min-width: 992px) {
      .footer-callback {
        margin-top: 0; } }
  .footer-contact {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.125rem; }
    @media (min-width: 768px) {
      .footer-contact {
        margin-top: 2em;
        margin-bottom: 3.8em; } }
    @media (max-width: 767.98px) {
      .footer-contact-item:not(:first-child) {
        margin-top: .5em; } }
    @media (min-width: 768px) {
      .footer-contact-item:not(:first-child) {
        margin-left: 39px; } }
    .footer-contact-item._tel-blue {
      white-space: nowrap; }
    .footer-contact-item {
      position: relative;
      padding-left: 33px; }
      .footer-contact-item::before {
        position: absolute;
        left: 0;
        top: .1em;
        bottom: 0;
        width: 18px;
        height: 18px;
        content: '';
        background-repeat: no-repeat;
        background-size: contain; }
      .footer-contact-item._mail-blue::before {
        background-image: url("../i/mail-blue.svg"); }
      .footer-contact-item._tel-blue::before {
        background-image: url("../i/tel-blue.svg"); }
      .footer-contact-item._mark-blue::before {
        background-image: url("../i/mark-blue.svg"); }
  .footer-sub {
    margin-top: 2em;
    padding: .8em 0;
    color: #fff;
    background-color: #0365C0; }
    @media (min-width: 768px) {
      .footer-sub {
        margin-top: 5em; } }
    .footer-sub a {
      color: inherit; }
  @media (max-width: 767.98px) {
    .footer-policy {
      margin: 1em 0; } }

.box-item {
  margin-top: 30px; }
  .box-item-figcaption {
    margin-top: 1em;
    font-size: 1rem;
    font-weight: 500; }

.box-info {
  counter-reset: box-list; }
  .box-info-item {
    position: relative;
    color: #fff;
    overflow: hidden;
    background-color: #000; }
    .box-info-item::after {
      position: absolute;
      left: 15px;
      top: 15px;
      font-size: 3rem;
      font-weight: 900;
      line-height: 1;
      counter-increment: box-list;
      content: counter(box-list, decimal-leading-zero); }
    .box-info-item-thumb {
      margin-bottom: 0; }
      @media (min-width: 768px) {
        .box-info-item-thumb img {
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; } }
  @media (min-width: 768px) and (prefers-reduced-motion: reduce) {
    .box-info-item-thumb img {
      -webkit-transition: none;
      transition: none; } }
      @media (min-width: 768px) {
        :hover > .box-info-item-thumb img {
          opacity: .4;
          -webkit-filter: grayscale(100%);
                  filter: grayscale(100%); } }
      @media (max-width: 767.98px) {
        .box-info-item-thumb img {
          opacity: .4; } }
    .box-info-item-content {
      padding: 1.7em 15px 0;
      font-size: 1.125rem;
      line-height: 1.1; }
      @media (min-width: 768px) {
        .box-info-item-content {
          position: absolute;
          left: 0;
          right: 0;
          top: 74%;
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(30%, #000));
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 30%);
          -webkit-transition: top 0.2s ease-in-out;
          transition: top 0.2s ease-in-out; }
          :hover > .box-info-item-content {
            top: 15%;
            background: none; } }
      @media (max-width: 767.98px) {
        .box-info-item-content {
          position: relative;
          margin-top: -80%;
          padding-bottom: .2em; } }

.box-video-thumb {
  display: block;
  position: relative;
  margin-top: 5em; }
  .box-video-thumb::before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    background-repeat: no-repeat;
    background-image: url("../i/play.svg");
    background-size: contain; }
    @media (max-width: 991.98px) {
      .box-video-thumb::before {
        width: 50px;
        height: 50px; } }
    @media (min-width: 992px) {
      .box-video-thumb::before {
        width: 100px;
        height: 100px; } }

.box-carousel .owl-nav {
  position: static;
  margin: 1em 0;
  text-align: center;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }
  @media (min-width: 576px) {
    .box-carousel .owl-nav {
      text-align: right; } }

.list-featured {
  margin-bottom: 0;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px; }
  @media (max-width: 991.98px) {
    .list-featured {
      -webkit-column-count: 1 !important;
         -moz-column-count: 1 !important;
              column-count: 1 !important; } }
  .list-featured._cols-2 {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2; }
  .list-featured._cols-3 {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3; }
  .list-featured-container {
    margin: 2em 0;
    padding: 2em 15px 1em;
    background-color: #fff; }
  .list-featured-title {
    margin-bottom: 1.5em; }
  .list-featured ol {
    padding-left: 1em; }
  .list-featured li {
    position: relative;
    margin-bottom: 1em;
    padding-left: 1em;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
         break-inside: avoid-column; }
    .list-featured li::before {
      position: absolute;
      left: 0;
      top: .4em;
      width: 7px;
      height: 7px;
      content: '';
      border-width: 2px;
      border-style: solid;
      border-color: #0365C0;
      border-radius: 50%;
      background-color: #fff; }

.nav-sub {
  margin-bottom: 4em;
  background-color: #fff; }
  @media (max-width: 1199.98px) {
    .nav-sub {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .nav-sub li {
    font-size: .75rem;
    text-transform: uppercase; }
    .nav-sub li.current-menu-item {
      font-size: .875rem;
      font-weight: 700; }
      .nav-sub li.current-menu-item a:hover {
        text-decoration: none; }
    .nav-sub li:not(.current-menu-item) > a {
      color: inherit; }
  .nav-sub a {
    display: block;
    padding: 1em .8em; }

.promo-container {
  position: relative; }
  .promo-container .owl-nav {
    left: 0;
    top: auto;
    right: 0;
    bottom: 30px;
    text-align: center; }
    @media (min-width: 768px) {
      .promo-container .owl-nav {
        bottom: 50px; } }
    .promo-container .owl-nav .owl-prev span,
    .promo-container .owl-nav .owl-next span {
      color: #fff;
      border-color: #fff; }

.promo-nav {
  counter-reset: nav-list; }
  .promo-nav-container {
    position: absolute;
    left: 0;
    top: 30px;
    right: 0;
    z-index: 2; }
  .promo-nav button {
    margin: 0 9px;
    padding: .14em .51em;
    font-size: .6875rem;
    color: #fff;
    border: 1px solid #fff;
    background: none; }
    @media (min-width: 768px) {
      .promo-nav button {
        font-size: 1rem; } }
    .promo-nav button:first-child, .promo-nav button.active:first-child {
      margin-left: 0; }
    .promo-nav button.active {
      margin: 0 .5em;
      border: none; }
      @media (min-width: 992px) {
        .promo-nav button.active {
          margin: 0 2em; } }
      .promo-nav button.active span::before {
        font-size: 3em;
        color: #012342;
        content: counter(nav-list, decimal-leading-zero);
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
        @media (min-width: 992px) {
          .promo-nav button.active span::before {
            font-size: 6em; } }
    .promo-nav button span::before {
      line-height: 1;
      counter-increment: nav-list;
      content: counter(nav-list); }

.promo-item {
  min-height: 500px;
  padding-top: 30px;
  padding-bottom: 100px;
  color: #fff;
  background-color: #012342;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  @media (min-width: 768px) {
    .promo-item {
      min-height: 600px;
      padding-top: 50px; } }
  .promo-item-title {
    font-size: 1.875rem;
    font-weight: 700;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .promo-item-title {
        font-size: 3em; } }
    .promo-item-title::after {
      display: block;
      width: 75px;
      margin: .4em 0 .8em;
      content: '';
      border-top: 2px solid #fff; }
  .promo-item-info {
    max-width: 700px;
    font-size: 1rem; }
    @media (min-width: 992px) {
      .promo-item-info {
        font-size: 1.5rem; } }
  .promo-item-more {
    margin-top: 3em; }

.widget {
  margin-top: 3em; }
  .widget:not(:last-child) {
    margin-bottom: 3em; }
  @media (min-width: 768px) and (max-width: 1199.98px) {
    .widget {
      top: 80px;
      margin-top: 4em; }
      .widget:not(:last-child) {
        margin-bottom: 4em; } }
  @media (min-width: 1200px) {
    .widget {
      top: 230px;
      margin-top: 8em; }
      .widget:not(:last-child) {
        margin-bottom: 8em; } }
  .widget-title {
    font-size: 1.375rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
    @media (min-width: 576px) {
      .widget-title {
        text-align: left; } }
    @media (min-width: 768px) and (max-width: 1199.98px) {
      .widget-title {
        font-size: 1.75rem; } }
    @media (min-width: 1200px) {
      .widget-title {
        font-size: 2.25rem; } }
    .widget-title::after {
      display: block;
      margin: .3em auto .6em;
      content: '';
      width: 30px;
      border-top: 6px solid #0365C0; }
      @media (min-width: 576px) {
        .widget-title::after {
          margin-left: 0; } }
      @media (min-width: 992px) {
        .widget-title::after {
          margin: .6em 0 1.8em; } }

.teaser._featured {
  color: #fff;
  background-color: #0365C0; }

.teaser-thumb {
  margin-bottom: 0; }

@media (max-width: 991.98px) {
  .teaser-content {
    padding-top: 30px; } }

.teaser-content._featured {
  padding: 24px 30px;
  font-size: 1.125rem; }
  @media (min-width: 992px) {
    .teaser-content._featured {
      padding-left: 0; } }

.teaser-title {
  margin: .3em 0 1.5em; }

.teaser-num {
  font-size: 4rem;
  font-weight: 700;
  text-shadow: -1px -1px 0 #262626, 1px -1px 0 #262626, -1px 1px 0 #262626, 1px 1px 0 #262626;
  color: #f8f8f8; }

.service-list-item {
  display: block;
  position: relative;
  padding: 30px 18px;
  background-color: #0365C0;
  overflow: hidden; }
  .service-list-item, .service-list-item:hover {
    color: #fff; }
  .service-list-item:hover {
    text-decoration: none; }
  .service-list-item-thumb {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      .service-list-item-thumb {
        -webkit-transition: none;
        transition: none; } }
    :hover > .service-list-item-thumb {
      opacity: .4;
      -webkit-filter: blur(5px);
              filter: blur(5px);
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .service-list-item-title, .service-list-item-text, .service-list-item-more {
    position: relative; }
  .service-list-item-title {
    margin-bottom: 1em;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transform: translateY(1em);
            transform: translateY(1em);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      .service-list-item-title {
        -webkit-transition: none;
        transition: none; } }
    :hover > .service-list-item-title {
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .service-list-item-text {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      .service-list-item-text {
        -webkit-transition: none;
        transition: none; } }
    :hover > .service-list-item-text {
      opacity: 1; }
  .service-list-item-more {
    color: #0365C0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      .service-list-item-more {
        -webkit-transition: none;
        transition: none; } }
    :hover > .service-list-item-more {
      color: #fff; }

.clients {
  background-color: #0365C0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .clients-list-item {
    padding: .5em;
    text-align: center;
    color: #fff; }
    @media (max-width: 767.98px) {
      .clients-list-item {
        padding-top: 3em; }
        .clients-list-item:last-child {
          padding-bottom: 3em; } }
    @media (min-width: 768px) and (max-width: 1199.98px) {
      .clients-list-item {
        padding: 3.5em 0 2em; } }
    @media (min-width: 1200px) {
      .clients-list-item {
        padding: 6em 0 2em; } }
    .clients-list-item-thumb {
      margin-bottom: 1.5em; }
      @media (min-width: 768px) {
        .clients-list-item-thumb {
          min-height: 80px; } }
      .clients-list-item-thumb img {
        width: auto;
        max-height: 80px; }
    .clients-list-item-name {
      margin: 2em 0;
      font-weight: 700;
      text-transform: uppercase; }
  .clients-list .owl-nav .owl-prev span,
  .clients-list .owl-nav .owl-next span {
    color: #fff;
    border-color: #fff; }

.product-list {
  margin-top: 3em; }
  @media (min-width: 768px) and (max-width: 1199.98px) {
    .product-list {
      margin-top: 6em; } }
  @media (min-width: 1200px) {
    .product-list {
      margin-top: 9em; } }
  .product-list-item {
    background-color: #fff; }
    @media (min-width: 768px) {
      .product-list-item:nth-child(2n+1) .row > :first-child {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; } }
    .product-list-item-thumb {
      margin-bottom: 0;
      padding: 15px; }
    .product-list-item-content {
      padding: 30px;
      text-align: center; }
      @media (min-width: 768px) {
        .product-list-item-content {
          text-align: left; } }
      @media (min-width: 768px) and (max-width: 1199.98px) {
        .product-list-item-content {
          padding: 30px 60px; } }
      @media (min-width: 1200px) {
        .product-list-item-content {
          padding: 30px 90px; } }
    .product-list-item-title {
      margin-bottom: 1.8em; }
    .product-list-item-chars {
      margin-bottom: 2.5em; }
      .product-list-item-chars li {
        margin: 1.5em 0; }

.contact-container {
  color: #fff;
  background-color: #0365C0; }

.contact-bg {
  position: relative; }
  .contact-bg::before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 9999px;
    content: '';
    background-position: calc(100% - 51px) 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-image: url("../i/contact-bg.jpg"); }

.contact-form {
  padding: 45px 0 15px; }
  .contact-form-title {
    margin-bottom: 1em;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase; }
  .contact-form-accept {
    margin-top: 1em; }
    .contact-form-accept a {
      text-decoration: underline; }
  .contact-form .form-control {
    border-color: transparent; }
  .contact-form textarea.form-control {
    max-height: 150px; }
  .contact-form a {
    color: inherit; }

.map-container, .map-content {
  position: relative; }

@media (max-width: 991.98px) {
  .map-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.map-object {
  min-height: 600px; }

.map-content {
  padding: 3.5em 0;
  color: #fff;
  background-color: #0365C0; }
  .map-content::before {
    position: absolute;
    left: -9999px;
    top: 0;
    right: 100%;
    bottom: 0;
    content: '';
    background-color: #0365C0; }
  @media (max-width: 991.98px) {
    .map-content-container {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      background-color: #0365C0; } }
  @media (min-width: 992px) {
    .map-content-container {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0; } }
  .map-content a {
    color: #fff; }

.map-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase; }

.map-contacts {
  margin-top: 4.5em; }
  .map-contacts-item {
    margin: 1.5em 0;
    font-size: 1rem;
    font-weight: 500; }
    @media (min-width: 992px) {
      .map-contacts-item {
        font-size: 1.125rem; } }
    .map-contacts-item {
      position: relative;
      padding-left: 2rem; }
      .map-contacts-item::before {
        position: absolute;
        left: 0;
        top: .1em;
        bottom: 0;
        width: 15px;
        height: 15px;
        content: '';
        background-repeat: no-repeat;
        background-size: contain; }
      .map-contacts-item._mail-white::before {
        background-image: url("../i/mail-white.svg"); }
      .map-contacts-item._tel-white::before {
        background-image: url("../i/tel-white.svg"); }
      .map-contacts-item._mark-white::before {
        background-image: url("../i/mark-white.svg"); }

.pagination {
  margin-top: 2em;
  text-align: center; }
  .pagination .page-numbers {
    display: inline-block;
    margin: 1em .5em 0;
    padding: .25em .65em;
    font-weight: 500; }
    .pagination .page-numbers:not(.dots), .pagination .page-numbers.current {
      border-width: 1px;
      border-style: solid; }
    .pagination .page-numbers.current {
      color: #fff;
      border-color: #0372d9;
      background-color: #0372d9; }
    .pagination .page-numbers.dots {
      padding: .25em 0; }
  .pagination a {
    color: #adb5bd;
    border-color: #adb5bd; }
    .pagination a:hover {
      text-decoration: none;
      color: #0372d9;
      border-color: #fff;
      background-color: #fff; }

.is-mobile-menu-show {
  overflow-y: hidden; }

.mobile-menu ul {
  padding-left: 0;
  list-style: none; }

.mobile-menu li {
  margin-top: .8em;
  margin-bottom: .8em;
  font-size: 1.125rem; }
  .mobile-menu li.current-menu-item > a {
    text-decoration: underline; }

.mobile-menu a {
  color: #fff; }

.mobile-menu .sub-menu {
  display: none;
  margin-left: 30px;
  margin-bottom: 30px; }
  .mobile-menu .sub-menu li {
    font-size: .875rem; }

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  color: #fff;
  cursor: default;
  visibility: hidden;
  z-index: 10001;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .mobile-menu-container {
      -webkit-transition: none;
      transition: none; } }
  .is-mobile-menu-show .mobile-menu-container {
    visibility: visible; }

.mobile-menu-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 45px 15px;
  opacity: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .mobile-menu-inner {
      -webkit-transition: none;
      transition: none; } }
  .is-mobile-menu-show .mobile-menu-inner {
    opacity: 1; }

.mobile-menu-toggle {
  display: block;
  margin-top: .3em;
  margin-right: 15px;
  text-align: right;
  text-transform: uppercase;
  color: #0365C0;
  cursor: pointer;
  vertical-align: middle; }
  .mobile-menu-toggle-container {
    margin-left: auto; }
  .mobile-menu-toggle::after {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: -.3em;
    margin-left: 15px;
    vertical-align: middle;
    content: '';
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='30' height='30' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath id='svg_1' d='m4,10l24,0c1.104,0 2,-0.896 2,-2s-0.896,-2 -2,-2l-24,0c-1.104,0 -2,0.896 -2,2s0.896,2 2,2zm24,4l-24,0c-1.104,0 -2,0.896 -2,2s0.896,2 2,2l24,0c1.104,0 2,-0.896 2,-2s-0.896,-2 -2,-2zm0,8l-24,0c-1.104,0 -2,0.896 -2,2s0.896,2 2,2l24,0c1.104,0 2,-0.896 2,-2s-0.896,-2 -2,-2z' fill='%233d546f'/%3E%3C/g%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain; }
  .mobile-menu-toggle.active::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='15' y1='15' x2='85' y2='85' /%3E%3Cline x1='85' y1='15' x2='15' y2='85' /%3E%3C/svg%3E");
    background-size: auto 70%; }

.mobile-menu-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: scale(0.25) rotate(180deg);
          transform: scale(0.25) rotate(180deg);
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .mobile-menu-close {
      -webkit-transition: none;
      transition: none; } }
  .is-mobile-menu-show .mobile-menu-close {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
    opacity: 1; }
  .mobile-menu-close::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='15' y1='15' x2='85' y2='85' /%3E%3Cline x1='85' y1='15' x2='15' y2='85' /%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 100%; }

.mobile-menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(3, 101, 192, 0.9);
  z-index: -1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .mobile-menu-overlay {
      -webkit-transition: none;
      transition: none; } }
  .is-mobile-menu-show .mobile-menu-overlay {
    opacity: 1;
    z-index: 10000; }

.popup-callback {
  padding: 0;
  overflow: hidden; }
  @media (min-width: 1200px) {
    .popup-callback {
      min-width: 1110px; } }
  .popup-callback-form {
    padding: 1.5em 1em 1.5em 2em; }
    @media (max-width: 1199.98px) {
      .popup-callback-form {
        padding-right: 2em; } }
  .popup-callback-title::after {
    margin-bottom: 1em; }
  .popup-callback-thumb {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
  .popup-callback-accept {
    margin-top: 1em;
    color: #6c757d; }
    .popup-callback-accept a {
      text-decoration: underline; }
  @media (min-width: 1200px) {
    .popup-callback .fancybox-button path {
      fill: #fff; } }
  .popup-callback textarea.form-control {
    height: 100px; }
